table {
margin: 0 auto; 
}

tr,td {
    background-color: #ffe200;
}

.cross{
    display:none;
}

tr:hover  .cross, .cross:hover{
    display: block;
    float:   right;
}

td[class='data']{
    width:200px;
}
/* input[type=checkbox]:checked ~ td[class='data']{
    text-decoration: line-through;
} */

.ticked{
    text-decoration: line-through;
    display:none;
}

button[type='submit']{
   
    cursor:pointer;
    overflow: hidden;
    background-color: #002852;
    color: white;
    padding: 10px;
    margin: auto 0;
    border: none;
}

td> button{
    background-color: Transparent;
    border: none;
    
}
